.ImgText{
    position: relative;
}

.ImgText .ImgTextChild .radialBg{
    position: absolute;
    height: 100%;
    width:100%;
    
    background-image:  radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.20) 1%, rgba(0, 0, 0, 0.20) 98%);
    transition:radial-gradient 20s ease-in;
}
    
.ImgText .ImgTextChild .bgimg{
    box-shadow: 0 0 20px rgba(0,0,0,0.1),

    0 0 20px rgba(0,0,0,0.1),
    
    0 0 30px rgba(0,0,0,0.1),
    
    0 0 30px rgba(0,0,0,0.1);
    
    
}
