.Nav .Logo .navbar-toggle {
    display: none;
}

.Nav{
    display:flex;
    margin: 2em 7em;
    
}   

.Nav .Logo{
    font-size: 1.3em;
    font-weight: 600;
    
}

.Nav .Logo a{
    color: var(--dark);
}
.Nav .Navlinks{
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    text-transform: uppercase;
    margin-left: auto;
    font-weight: 600;
    position: relative;
    
}
.Nav .Navlinks >*{
    vertical-align: bottom;
    color: var(--dark);
}

.Nav .Navlinks >*:hover{
    font-weight: 700;
}

.Light{
    color: var(--white);
}

.Dark{
    color: var(--dark);
}

@media (max-width: 800px) {
    .Nav .Navlinks{
        display: none;

    }
    
    .Nav{
        display: block;
        margin:1.5em;
    }

    .Nav .Logo{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
        width: 100%;
    }
    
    .Nav .Logo > *{
        display: inline-block;
    }


    Nav .Logo #LogoMID {
        flex: 1
    }

    .Nav .Logo .navbar-toggle {
        display: block;
    }

    .Nav .Off{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        min-height: 100%;
        justify-content: center; /* center items vertically, in this case */
        align-items: center;   
        min-height: 100vh;  
    }

    .Nav .On{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        min-height: 100%;
        justify-content: center; /* center items vertically, in this case */
        align-items: center;  
         
    }
    .Nav .On >*{
        flex: 1;
        margin: 1em;
    }

}