.Nav .Logo .navbar-toggle {
    display: none;
}

.Nav{
    display:flex;
    margin: 2em 7em;
}

.Nav .Logo{
    font-size: 1.3em;
    font-weight: 600;
}

.Nav .Navlinks{
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    text-transform: uppercase;
    margin-left: auto;
    font-weight: 600;
    position: relative;
    
}
.Nav .Navlinks >*{
    vertical-align: bottom;
}

.Nav .Navlinks >*:hover{
    font-weight: 700;
}

.Light{
    color: var(--white);
}

.Dark{
    color: var(--dark);
}

@media (max-width: 800px) {
    .Nav .Navlinks{
        display: none;
    }

    .Nav .Logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .Nav .Logo .navbar-toggle {
        display: block;
        float: right;

    }
    .Nav .On{
        display: flex;
        flex-direction: column;
        gap: 1.1rem;
        overflow: hidden;
        align-items: center;
        justify-content:flex-start;
        margin-top: 5vh;
        min-height: 100vh;
    }
}