.Profile{
    display: flex;
}

.Profile .UserData{
    flex: 0 0 67%;

}

.ProfileSection >*{
    align-content: center;
}

.ProfileSection .UserProfile{
    display: flex;
    flex: 0 0 33%;
    justify-content: flex-end;
    align-content: center;
    width: fit-content;
    padding: 2em;

}

.ProfileSection .UserProfile .Image{ 
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    overflow: hidden;
}

input{
    outline-style: solid;
    border-radius: .3em;
    outline-width: .05em;
    outline-color: #ADB6C4;
}

input:focus{
    outline-width: .15em;
    outline-color: #294C60;
}

textarea{
    outline-style: solid;
    border-radius: .3em;
    outline-width: .05em;
    outline-color: #ADB6C4;
}

textarea:focus{
    outline-width: .15em;
    outline-color: #294C60;
}

#name{
    padding: .1em .4em;
}

#bio{
    padding: .1em .4em 1.4em;
}
@media (max-width:780px) {
    .Profile{
        display: flex;
        flex-direction: column;
    }
    .Profile .UserData{
        display: flex;
        flex-direction: column;
        gap:2em;
    }
    .Profile .UserData >*{
        min-width: 60%;
    }
}