@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0
}

:root {
  /* Define custom properties */
  --white: #EEEEEE;
  --pale: #E1F7F5;
  --light: #94d5d8;
  --med: #2c84b0;
  --dark: #31363F;
  --black: #222831;

  --cutout: 0px 0px 32px rgba(55, 23, 16, 0.25);
  --cut: inset 0px 0px 32px rgba(55, 23, 16, 0.25);

  --carddrop: 0px 0px 8px rgba(55, 23, 16, 0.25);
  --photodrop: 0px 0px 16px rgba(55, 23, 16, 0.25);
  --svgdrop: 0px 0px 2px rgba(55, 23, 16, 0.25);
  --buttondrop: 0px 0px 2px rgba(55, 23, 16, 0.25);

  --bottommargin: 2rem;
}

a, button /* &c... */ {
  all: unset;
  cursor: pointer
}

.a_norm{
  color: var(--light);
  font-weight: 600;
  border-bottom: 3px solid var(--med);
  transition:all ease-in-out .2s;
}

.a_norm:hover{
  background-color: var(--med);
  
}


button{
  background-color: var(--pale);
  padding: 1em;
  border-radius: 1.1em;
}

h1, h3{
  color: var(--white);
}