
.image__slider__container .slick-dots{
    bottom: 20px;
}

.image__slider__container .slick-prev{
    left: 0px;
    z-index: 1;
}

.image__slider__container .slick-next{
    right: 0px;
    z-index: 1;
}

@media (max-width:600px){
    .image__slider__container{
        max-width: 100vw;
    }
}